# Dependencies
node_modules/
venv/
__pycache__/


# Logs
*.log

# Python
*.pyc

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Database
*.db

# ChromaDB
chroma_db/

# Cache
.cache/